@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
      transform: scale(120%);
    }
    75% {
      opacity: 0.5;
      top: 0;
      transform: scale(110%);
    }
    100% {
      opacity: 1;
      transform: scale(150%);
    }
  }